.row-fluid
  .span4.offset4
    = simple_form_for :mailbox, :url => sign_in_url, :html => { :class => 'form-horizontal' } do |f|
      = field_set_tag do
        %legend Sign In
        = f.input :email, placeholder: "email@example.com"
        = f.input :password, placeholder: "Password"
        = f.button :submit, "Sign In", disable_with: "Please wait...", class: 'btn btn-success'