#domain_accounts.tab-pane{class: "#{'active' if params[:active_tab].present? && params[:active_tab] == 'domain_admin'}"}
  .tabbable
    %ul.nav.nav-pills
      %li{class: "#{'active' if params[:active_pill].blank? || params[:active_pill] == 'accounts'}"}
        = link_to "#accounts", data: { toggle: 'tab' } do
          Accounts
      %li{class: "#{'active' if params[:active_pill].present? && params[:active_pill] == 'aliases'}"}
        = link_to "#aliases", data: { toggle: 'tab' } do
          Aliases
    .tab-content
      #accounts.tab-pane{class: "#{'active' if params[:active_pill].blank? || params[:active_pill] == 'accounts'}"}
        %h2.page-header
          = current_mailbox.domain.name
          %small Accounts
        %p
          = link_to new_domain_mailbox_path, class: 'btn btn-primary' do
            %i.icon-plus.icon-white
            Create New Account

        %table.table
          %thead
            %tr
              %th Email Address
              %th Delivery
              %th Move Spam
              %th Delete Spam
          %tbody
            - @mailboxes.each do |mailbox|
              %tr
                %td= link_to mailbox.email, edit_domain_mailbox_path(mailbox)
                %td= setting_status mailbox.delivery_enabled?
                %td
                  = setting_status mailbox.move_spam_enabled?
                  = mailbox.move_spam_threshold
                %td
                  = setting_status mailbox.delete_spam_enabled?
                  = mailbox.delete_spam_threshold
      #aliases.tab-pane{class: "#{'active' if params[:active_pill].present? && params[:active_pill] == 'aliases'}"}
        %h2.page-header
          = current_mailbox.domain.name
          %small Aliases
        %p
          = link_to new_domain_alias_path, class: 'btn btn-primary' do
            %i.icon-plus.icon-white
            Create New Alias
        
        %table.table
          %thead
            %tr
              %th Alias Address
              %th Destination
          %tbody
            - @aliases.each do |mailbox_alias|
              %tr
                %td= link_to mailbox_alias.email, edit_domain_alias_path(mailbox_alias)
                %td= mailbox_alias.mailbox.email