!!!
%html
  %head
    %title Mail Admin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / NAVIGATION
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = content_tag "a", :class => "btn btn-navbar", :data => { :toggle => "collapse", :target => ".nav-collapse" } do
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Mail Admin", "#", :class => 'brand'

    .container-fluid
      - flash.each do |type, msg|
        = content_tag "div", class: "alert alert-#{ class_for_alert_type(type) }" do
          = content_tag "a", class: "close", data: { dismiss: "alert" } do
            x
          = msg
      = yield
    